{% extends "stockmarketpredictionsapp/basetemplate.html" %}
{% load static %}
{% block title %}
Homepage
{% endblock %}


{% block content %}
<br>
<h1 style="text-align : center;">Homepage</h1>
<br>
<hr>
<div class="container text-center">
  <div class="row">
    <div class="col">
        <h4>What are we doing here?</h4>
                <p>Nowadays, everyone is looking for a side hustle, and a big choice for people is trading in stocks. However, not many people actually know how to trade stocks well. With Stock Market predictions, we are working to help you start your trading career by giving you the tools neccesary to trade. With the power of Artificial Intelligence, we can help predict values that you can use to properly trade on your own.
                </p>
    </div>
    <div class="col">
          <img src="{% static 'stockmarketpredictions/images/stocksgraph.jpg' %}" width="500">

    </div>
  </div>
</div>
<br>
<hr>
<br>
<div class="container text-center">
  <div class="row">
    <div class="col">
                  <img src="{% static 'stockmarketpredictions/images/stocksgraph2.jpg' %}" width="500">
    </div>
    <div class="col">
<h4>How to get started?</h4>
               <p> Getting started is easy, all you have to do is go to the stock list page, find the stock that you want to get more info on, complete the not a robot steps and click Company Profile. Once you get there all of the information that you will ever need is there, you can also use our Artificial Intelligence Integrated form to predict future data!</p>
    </div>
  </div>
</div>
<br>
{% endblock %}